<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="b lh-title mb1 primary">{{ $.Site.Title }}</h3>
				<ul class="mb3">
					<li><a href="/" class="link">首页</a></li>
					{{ range .Site.Menus.main }}
						<li><a href="{{ .URL }}" class="link">{{ .Name }}</a></li>
					{{end}}
				</ul>
			</div>

			<!-- <div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div> -->

			<div>
				<h3 class="f4 b lh-title mb2 primary">联系方式</h3>
				<ul class="mb3">
					{{ range .Site.Menus.contact.ByWeight }}
						<li>{{ .Name }}</li>
					{{end}}
				</ul>
				<!-- <ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul> -->
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
