<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 flex-none b primary f3" style="text-decoration: none;">
		<!-- <img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/> -->
		{{ $.Site.Title }}
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}" class="pa3 no-underline db">{{ .Name }}</a></li>
		{{end}}
	</ul>

</nav>
